@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

:root {
  font-size: 14px;

  --clr-bg-dark: rgb(0, 0, 0);
  --clr-bg-light: rgb(250, 249, 249);
  --clr-bg-neutral: rgb(240, 240, 240);
  --clr-header-background-light: rgba(250 249 249 / 0.75);
  --clr-header-background-dark: rgba(0 0 0 / 0.75);
  --clr-theme: rgb(143, 57, 133);
  --clr-accent: rgb(0, 148, 198);
  --clr-accent-secondary: rgb(249, 166, 32);
  --clr-text-light: rgb(250, 249, 249);
  --clr-text-neutral: rgb(155, 155, 155);
  --clr-text-dark: rgb(17, 17, 17);

  --clr-scrollbar-bg: rgba(128 128 128 / 0.12);
  --clr-scrollbar-thumb: rgb(205, 205, 205);
  --clr-scrollbar-thumb-hover: rgb(166, 166, 166);
  --clr-scrollbar-thumb-active: rgb(96, 96, 96);

  --header-height: 6rem;

  --clr-border-dark: rgb(47, 47, 47);
  --clr-border-light: rgb(218, 218, 218);

  --initial-scale: 0.5;
  --final-scale: 1;

  --animation-duration: 600ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 200ms ease, background-color 200ms ease;
}

div,
article,
section {
  scrollbar-width: thin;
}

div::-webkit-scrollbar,
article::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 7px;
  background-color: var(--clr-scrollbar-bg);
}

div::-webkit-scrollbar-thumb,
article::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background-color: var(--clr-scrollbar-thumb);
}

div::-webkit-scrollbar-thumb:hover,
article::-webkit-scrollbar-thumb:hover,
section::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-scrollbar-thumb-hover);
}

div::-webkit-scrollbar-thumb:active,
article::-webkit-scrollbar-thumb:active,
section::-webkit-scrollbar-thumb:active {
  background-color: var(--clr-scrollbar-thumb-active);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: var(--clr-theme);
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-background);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin: 0.67em 0;
  font-weight: 400;
  line-height: 1.25em;
}

h1 {
  font-size: min(4.8rem, 26vw);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}
