.dark {
  --clr-background: var(--clr-bg-dark);
  --clr-header-background: var(--clr-header-background-dark);
  --clr-text: var(--clr-text-light);
  --clr-border: var(--clr-border-dark);
}

.light {
  --clr-background: var(--clr-bg-light);
  --clr-header-background: var(--clr-header-background-light);
  --clr-text: var(--clr-text-dark);
  --clr-border: var(--clr-border-light);
}

.hidden {
  display: none;
}

.container {
  width: min(1200px, 95%);
  margin-inline: auto;
}

.active {
  color: var(--clr-theme);
}

.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 8rem;
  padding: 1rem 2rem;
}

.button-link i {
  font-size: 1.5rem;
}

.button-boxed {
  width: max-content;
  padding: 0.6em 1em;
  font: inherit;
  cursor: pointer;
}

.button-link,
.button-boxed {
  color: var(--clr-text-light);
  background-color: var(--clr-theme);
  border: 2px solid transparent;
  transition: color 200ms linear, background-color 200ms linear,
    border 200ms linear;
}

.button-link:hover,
.button-boxed:hover {
  background-color: transparent;
  border: 2px solid var(--clr-theme);
}

.button-boxed:hover {
  color: var(--clr-theme);
}

.boxed-title {
  display: inline-block;
  padding: 0.75em 1.5em;
  color: var(--clr-text-light);
  background-color: var(--clr-theme);
}

.styled-title {
  display: inline-block;
}

.styled-title .headline {
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

.styled-title .subheadline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.styled-title .subheadline .subheadline__bar {
  flex: 1;
  height: 2px;
  background-color: var(--clr-text);
}

.styled-title .subheadline .subheadline__text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-accent-secondary);
}

.error,
.success {
  padding: 1rem;
}

.error {
  color: var(--clr-accent-secondary);
  border: 2px solid var(--clr-accent-secondary);
}

.success {
  color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
}
