@media screen and (min-width: 1025px) {
  .page-content.summary-content,
  .page-content.skills-content,
  .page-content.portfolio-content,
  .page-content.contact-content {
    padding: 7rem 0;
  }

  .summary-content .hero-section {
    gap: 6rem;
    margin-block-end: 10rem;
  }

  .summary-content .work-experience__jobs {
    grid-template-columns: repeat(4, 1fr);
  }
}
