@media screen and (min-width: 769px) {
  .summary-content .hero-section {
    gap: 4rem;
    margin-block-end: 6rem;
  }

  .skills-content .technologies-wrapper,
  .skills-content .tools-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .skills-content .heading-wrapper {
    display: flex;
    border-right: 1px solid var(--clr-border);
  }

  .portfolio-content .heading-wrapper {
    margin-bottom: 4rem;
  }

  .portfolio-gallery {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .portfolio-item {
    position: relative;
    overflow: hidden;
    color: var(--clr-text-dark);
    cursor: pointer;
  }

  .portfolio-item__image {
    height: 100%;
  }

  .portfolio-item__image img {
    transition: transform 350ms ease;
  }

  .portfolio-item__description {
    position: absolute;
    bottom: -100%;
    padding: 1.5rem;
    background-color: rgba(255 255 255 / 0.7);
    transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1;
  }

  .portfolio-item::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255 255 255 / 0.6);
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .portfolio-item:hover .portfolio-item__description {
    bottom: 0;
  }

  .portfolio-item:hover .portfolio-item__image img {
    transform: scale(1.1);
  }

  .portfolio-item:hover::after {
    opacity: 1;
  }
}
