.page-content.summary-content,
.page-content.skills-content,
.page-content.portfolio-content,
.page-content.contact-content {
  padding: 4rem 0 7rem 0;
}

/* SUMMARY PAGE */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-inline: auto;
  margin-block-end: 4rem;
}

.hero-image {
  height: 66vh;
  width: min(520px, 100%);
  object-fit: cover;
}

.hero-content {
  flex: 1;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4rem;
}

.work-experience__title {
  margin-bottom: 3rem;
}

.work-experience__jobs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.work-experience__jobs > * {
  border-top: 1px solid var(--clr-border);
}

.job {
  font-weight: 300;
  padding: 1rem 0;
}

.job__interval {
  font-weight: 700;
}

.job__company {
  color: var(--clr-text-neutral);
}

.job__position {
  font-weight: 700;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.service {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0 1.5rem;
}

.service .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 65px;
  font-size: 40px;
}

.service h3 {
  font-weight: 700;
}

/* SKILLS PAGE */

.technologies-wrapper,
.tools-wrapper {
  display: grid;
}

.technologies-wrapper {
  grid-template-columns: 1fr;
  gap: 3rem;
}

.tools-wrapper {
  grid-template-columns: auto 1fr;
  gap: 2rem;
  margin-top: 6rem;
}

.skills-content .heading-wrapper .styled-title {
  margin-inline: auto 3rem;
}

.skill {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.skill + .skill {
  margin-top: 1.8rem;
}

.skill__icon {
  flex: 0 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 45px;
  margin-right: 1.5rem;
  font-size: 45px;
}

.skill__icon.tool {
  display: inline-flex;
  height: 75px;
  max-width: 75px;
  margin-right: 2rem;
  font-size: 72px;
}

.skill__description {
  flex: 1;
  min-width: 250px;
}

.skill__title {
  margin: 0;
  font-weight: 300;
}

.skill__level-bar {
  margin-top: 0.25rem;
  padding: 2px;
  border: 2px solid var(--clr-border);
  border-radius: 4px;
}

.skill__level-fill {
  --level: 8%;
  width: var(--level);
  padding-right: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: right;
  color: var(--clr-text-dark);
  background-color: var(--clr-accent-secondary);
  border-radius: 2px;
  transition: width 1250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

:not(.split) + .view .skill__level-fill {
  width: 8%;
}

/* PORTFOLIO PAGE */

.portfolio-content .heading-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

.portfolio-item__image {
  width: 100%;
  overflow: hidden;
}

.portfolio-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item__description {
  width: 100%;
  padding: 1rem 0;
}

.portfolio-item__description .button-link {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
}

/* CONTACT PAGE */

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.contact-content .contact-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.contact-content .contact-message h3 {
  margin-bottom: 0.2em;
  text-transform: uppercase;
  color: var(--clr-accent-secondary);
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 420px;
  padding: 2rem;
  color: var(--clr-text-dark);
  background-color: var(--clr-bg-light);
  border-radius: 8px;
}

.light #contact-form {
  box-shadow: 10px 10px 40px rgba(0 0 0 / 0.2);
}

.dark #contact-form {
  background-color: var(--clr-bg-light);
}

#contact-form label {
  display: block;
  margin-bottom: 0.5rem;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  font: inherit;
  border: 2px solid var(--clr-border-light);
  border-radius: 4px;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form #submit-button:disabled,
#contact-form #submit-button:disabled:hover {
  color: var(--clr-text-light);
  background-color: var(--clr-text-neutral);
  border: 2px solid transparent;
  transition: none;
}

.contact-content .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-content .social-links h2 {
  flex-basis: 100%;
  text-align: center;
}
