#app-tools {
  position: fixed;
  left: 0;
  bottom: 15px;
  padding-left: 10px;
  background-color: var(--clr-background);
  border-top: 1px solid var(--clr-border);
  border-right: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: left 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#app-tools.retracted {
  left: -127px;
}

#app-tools__toggle {
  width: 38px;
  height: 50px;
  margin: 8px 0;
  background-color: var(--clr-background);
  border-left: 1px solid var(--clr-border);
}

#app-tools__toggle-btn {
  appearance: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--clr-accent-secondary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: none;
}

.retracted #app-tools__toggle-btn {
  color: var(--clr-accent);
}

#tools {
  display: flex;
  align-items: center;
  gap: 10px;
}

#theme-switcher {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#theme-switcher__check {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#theme-switcher__toggle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  color: var(--clr-accent);
  background-color: var(--clr-background);
  border: 2px solid var(--clr-border);
  border-radius: 40px;
  transition: height 300ms cubic-bezier(0.86, 0, 0.07, 1);
  pointer-events: none;
}

#theme-switcher__button,
#theme-switcher__indicator-light,
#theme-switcher__indicator-dark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3px;
  width: 30px;
  height: 30px;
}

#theme-switcher__button {
  bottom: 3px;
}

#theme-switcher__indicator-light,
#theme-switcher__indicator-dark {
  top: 3px;
  color: var(--clr-text-light);
  background-color: var(--clr-accent);
  border-radius: 50%;
}

#theme-switcher__indicator-light {
  transition: transform 150ms cubic-bezier(0.07, 0.64, 0.39, 1) 150ms;
}

#theme-switcher__indicator-dark {
  font-size: 1.6rem;
  transform: rotateY(-90deg);
  transition: transform 150ms cubic-bezier(0.84, 0, 0.9, 0.62);
}

#theme-switcher:hover #theme-switcher__toggle {
  height: 200%;
}

:checked + #theme-switcher__toggle #theme-switcher__indicator-light {
  transform: rotateY(90deg);
  transition: transform 150ms cubic-bezier(0.84, 0, 0.9, 0.62);
}

:checked + #theme-switcher__toggle #theme-switcher__indicator-dark {
  transform: rotateY(0deg);
  transition: transform 150ms cubic-bezier(0.07, 0.64, 0.39, 1) 150ms;
}

#language-switcher {
  position: relative;
  width: 56px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

#language-switcher__check {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#language-switcher__toggle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  border: 2px solid var(--clr-border);
  border-radius: 20px;
  pointer-events: none;
}

#language-switcher__indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 28px;
  font-weight: 500;
  text-align: center;
  color: var(--clr-text-light);
  background-color: var(--clr-accent);
  border-radius: 32px;
  transition: left 300ms cubic-bezier(0.86, 0, 0.07, 1);
  pointer-events: none;
}

:checked ~ #language-switcher__toggle #language-switcher__indicator {
  left: 18px;
}
